* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(218deg 50% 91%);
    height: 100vh;
}
.container {
    background: #fff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    width: 300px;
}
h2 {
    text-align: center;
    margin-bottom: 1em;
}
.inputBox {
    margin-bottom: 1em;
}
.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.inputBox input::placeholder {
    color: hsl(0deg 0% 60%);
}
button {
    padding: 1em;
    background: hsl(233deg 36% 38%);
    color: hsl(0 0 100%);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background: hsl(233deg 36% 30%);
}
.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.links a {
    color: hsl(233deg 36% 38%);
    text-decoration: none;
    font-size: 0.9em;
}
.links a:hover {
    text-decoration: underline;
}
#message {
    color: red;
}

#register-suggestion {
    color: hsl(233deg 36% 38%);
}
